<!DOCTYPE HTML>
<html lang="en">
  <head>
    <%= render '/head.*' %>
    <meta name="robots" content="noindex">
    <link rel="canonical" href="<%= @config[:base_url] %>/404.html">
    <script src="<%= @items['/frontend/404/archives_redirect.*'].path %>"></script>
  </head>
  <body>
    <%= render '/header.*' %>
    <section class="container-fluid">
      <div class="row">
        <div class="col-12 gl-h-100vh gl-display-flex gl-flex-direction-column">
          <main class="gl-mt-5 gl-flex-grow-1 gl-flex-shrink-0"><%= yield %></main>
          <%= render '/footer.*' %>
        </div>
      </div>
    </section>

  <% if production? %>
  <%# Add analytics only in production %>
    <%= render '/analytics.*' %>
  <% end %>
  </body>
</html>
